<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.msopher.manifest"
        versionCode = "10" 
        version     = "1.0.0" >

    <name>Manifest</name>

    <description>
        Automatically retrieves vehicle manifest data. 
    </description>

    <author>
        Yaacov Rothschild 
    </author>
    
    <preference name="permissions" value="none"/>

    <gap:platform name="android" />
    
    <icon src="icon.png" />
    <icon src="icon.png" gap:platform="android" gap:density="mdpi" />
    <icon src="hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="xhdpi.png" gap:platform="android" gap:density="xhdpi" />

</widget>